:root {
    /* color */
    --white-opacity: rgb(255, 255, 255, 0.8);
    --box-shadow: 10px 5px 8px rgba(54, 54, 54, 0.384);
    --opacity: 0.7;
    --opacity-lower: 0.5;
    /* measure */
    --radious: 15px;
}

/* ******* default tags ******** */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid var(--white-opacity);
    /* border: 2px solid var(--white-opacity); */
    /* border-radius: 50px;
    width: 600px;
    padding: 15px 30px; */

    outline: none;
    font-size: 3rem;
    color: white;
}

input::placeholder {
    color: var(--white-opacity);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    text-align: center;
}

/* ******* sticky frame ******** */
.sticky {
    min-width: 300px;
    /* width: 300px;
    height: 100px; */
    position: absolute;
    top: 300px;
    padding: 20px;
    padding-top: 50px;
    background-color: var(--white-opacity);
    box-shadow: var(--box-shadow);
    border-radius: var(--radious);
    cursor: move;
}

.stickyTitle {
    text-align: center;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-top-left-radius: var(--radious);
    border-top-right-radius: var(--radious);
    opacity: var(--opacity);
    font-size: smaller;
}

/* ******* elements ******** */
.emoji {
    font-size: 100px;
    background: none;
    height: 100px;
    border: none;
    padding: 0;
    box-shadow: none;
}

#video-container video {
    max-width: 500px;
    max-height: 500px;
}

#login-form button {
    position: absolute;
    top: -4px;
    margin-left: -30px;
    /* margin-left: 10px; */
    border: none;
    border-radius: 50px;
    background: var(--white-opacity);
    padding: 18px 22px;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    /* box-shadow: var(--box-shadow); */
}

#login-form button:hover {
    opacity: var(--opacity);
}

#bg-container {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
    /* object-fit: fill; */
}
#bg-container img {
    width: 100vw;
    height: 100vh;
}

#weather {
    position: absolute;
    top: 20px;
    right: 32px;
    color: white;
    opacity: var(--opacity);
    font-style: italic;
}
#quote {
    width: max-content;
    text-align: right;
}

#quote span:nth-child(3) {
    font-style: italic;
    opacity: var(--opacity-lower);
    right: 0;
}

#clock {
    font-size: 3rem;
    width: 300px;
    text-align: center;
    margin: 20px 0;
}

/********** to do list *********/
#todo-list {
    width: 310px;
    max-height: 700px;
    height: min-content;
    top: 100px;
    word-wrap: break-word;
    list-style: none;
    padding: 0;
}

#todo-list button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    font-size: larger;
    position: relative;
}

#todo-list hr {
    background: none;
    border: 1px solid rgba(204, 204, 204, 0.514);
    border-radius: 1px;
    width: 250px;
    margin-left: 48px;
}

#todo-list li > div {
    display: inline-block;
    background-color: none;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 30px;
    margin-right: 20px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

#todo-list li > span {
    position: relative;
    padding-left: 50px;

    /* padding-top: 6px; */
}

/* ******* to-do check Box ******** */
.checked {
    text-decoration: line-through;
    font-style: italic;
    color: rgba(0, 0, 0, var(--opacity-lower));
}
.checkedBox {
    background-color: rgba(138, 138, 138, 0.555);
    /* cursor: pointer; */
}

/* ******* hidden ******** */
.hidden {
    display: none;
}

/* ul,
li,
form,
input,
h1,
h2,
span,
button,
hr {
    z-index: inherit;
} */
